extends layout

block content 
  h1= title 

  p #[strong Name:] !{make_detail.name}

  hr

  p 
    a(href=make_detail.url + '/update') Update Make 
  p 
    a(href=make_detail.url + '/delete') Delete Make