extends layout 

block content 
  h1= title 

  form(method='POST' action='')
    div.form-group
      label(for='name') Model Name: 
      input#name.form-control(type='text', name='name', placeholder='Corolla' value=(undefined===model ? '' : model.name))

      label(for='trim') Trim Level:
      input#trim.form-control(type='text', name='trim', placeholder='LE' value=(undefined===model ? '' : model.trim))

      label(for='year') Year: 
      input#year.form-control(type='number', name='year', placeholder=2004 value=(undefined===model ? '' : model.year))

      hr
       
      button.btn.btn-primary(type='submit') Submit

      if errors
        ul 
         for error in errors 
          li!= error.msg